{% for parameter in include.data %}
  <article class="card">
    <h2 id="{{ parameter._key }}">
      <a href="#{{ parameter._key }}">{{ parameter._key }}</a>
    </h2>

    {% if parameter.encrypted %}
      <p><strong>🔐 RSA encrypted field</strong></p>
    {% endif %}

    <p>{{ parameter.doc | markdownify }}</p>

    {% if parameter.docExample %}
      <p><em>Example:</em></p>

      {% highlight yml %}{{ parameter.docExample }}{% endhighlight %}
    {% endif %}

    {% if parameter.format %}
      <p><em>Possible values:</em></p>

      <ul>
        {% for format in parameter.format %}
          <li><code>{{ format }}</code></li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if parameter.env %}
      <p><em>Environment variable:</em></p>

      {% highlight text %}{{ parameter.env }}{% endhighlight %}
    {% endif %}

    {% assign parameterDefault = parameter.default | jsonify %}

    {% if parameter.default != null and parameterDefault != "{}" %}
      <p><em>Default:</em></p>

      {% highlight text %}{{ parameterDefault }}{% endhighlight %}
    {% endif %}
  </article>
{% endfor %}