<footer class="footer">
    <div class="footer__container content">
    	<div class="footer__copyright">
          <p>Kindly supported by <a class="cta" href="https://snipcart.com/">Snipcart</a> (see <a class="cta" href="/sponsors">this</a> to learn how).</p>
        	<p>Made with <span class="footer__heart">&hearts;</span> by <a class="cta" href="https://eduardoboucas.com">Eduardo Bouças</a>. <br>Logo by <a class="cta" href="http://erlen.co.uk">Erlen Masson</a></p>.
        </div>
    </div>
</footer>